openapi: 3.2.0
info:
  title: Refuel Cloud Webhooks API
  description: REST API for the Refuel Cloud data-labeling and data-enrichment platform. Harvested verbatim from https://cloud-api.refuel.ai/openapi.json (FastAPI-generated, OpenAPI 3.1.0). Covers projects, datasets, tasks, task runs, taxonomies, seedsets/evalsets, calibration, finetuned models, deployed applications and their realtime label endpoint, users, teams, usage, and integrations. Authentication is an API key sent as an HTTP Bearer token. The upstream document carries the FastAPI default info block (title "FastAPI", version 0.1.0) and no servers[]; API Evangelist supplies the title/description and the servers[] host documented in Refuel's own quickstart and catalog pages. See openapi/_original/ for the untouched document and overlays/ for every change.
  version: 0.1.0
  contact:
    name: Refuel
    url: https://www.refuel.ai
    email: support@refuel.ai
  termsOfService: https://www.refuel.ai/terms-of-service
  x-harvested-from: https://cloud-api.refuel.ai/openapi.json
  x-harvested-on: '2026-08-14'
servers:
- url: https://cloud-api.refuel.ai
  description: Refuel Cloud API
tags:
- name: Webhooks
paths:
  /webhooks/{webhook_id}/events:
    post:
      summary: Process Webhook Event
      description: Process incoming webhook events
      operationId: process_webhook_event_webhooks__webhook_id__events_post
      parameters:
      - required: true
        schema:
          type: string
          title: Webhook Id
        name: webhook_id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirbyteWebhookRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Webhooks
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    AirbyteWebhookRequest:
      properties:
        text:
          type: string
          title: Text
        blocks:
          items:
            type: object
          type: array
          title: Blocks
          default: []
        data:
          type: object
          title: Data
          default: {}
      type: object
      required:
      - text
      title: AirbyteWebhookRequest
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    WebhookResponse:
      properties:
        status:
          type: integer
          title: Status
        error:
          type: string
          title: Error
      type: object
      required:
      - status
      title: WebhookResponse
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
