openapi: 3.2.0
info:
  title: Refuel Cloud Usage API
  description: REST API for the Refuel Cloud data-labeling and data-enrichment platform. Harvested verbatim from https://cloud-api.refuel.ai/openapi.json (FastAPI-generated, OpenAPI 3.1.0). Covers projects, datasets, tasks, task runs, taxonomies, seedsets/evalsets, calibration, finetuned models, deployed applications and their realtime label endpoint, users, teams, usage, and integrations. Authentication is an API key sent as an HTTP Bearer token. The upstream document carries the FastAPI default info block (title "FastAPI", version 0.1.0) and no servers[]; API Evangelist supplies the title/description and the servers[] host documented in Refuel's own quickstart and catalog pages. See openapi/_original/ for the untouched document and overlays/ for every change.
  version: 0.1.0
  contact:
    name: Refuel
    url: https://www.refuel.ai
    email: support@refuel.ai
  termsOfService: https://www.refuel.ai/terms-of-service
  x-harvested-from: https://cloud-api.refuel.ai/openapi.json
  x-harvested-on: '2026-08-14'
servers:
- url: https://cloud-api.refuel.ai
  description: Refuel Cloud API
tags:
- name: Usage
paths:
  /usage:
    get:
      summary: Get Team Usage
      operationId: get_team_usage_usage_get
      parameters:
      - required: false
        schema:
          type: string
          title: Start Date
        name: start_date
        in: query
      - required: false
        schema:
          type: string
          title: End Date
        name: end_date
        in: query
      - required: false
        schema:
          type: string
          title: Application Id
        name: application_id
        in: query
      - required: false
        schema:
          type: string
          title: Task Id
        name: task_id
        in: query
      - required: false
        schema:
          type: string
          title: Model
        name: model
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - Usage
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ResponseModel:
      properties:
        success:
          type: boolean
          title: Success
          default: true
        error_msg:
          type: string
          title: Error Msg
        data:
          title: Data
        count:
          type: integer
          title: Count
      type: object
      title: ResponseModel
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
